<div>
  <p>Hello <%= @name %>!<p>
  <p>
    You are almost there! Click the link below to confirm you new Zeno Wiki account.
  </p>
  <p>
    <a href="<%= @url %>">Confirm my account</a>
  </p>
  <p>Thank you!</p>
</div>

